
*{
    margin: 0;
    padding: 0;
}

/*header*/
header {
    background-color: black;
}
#header {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    align-items: center;
}
#header #logo {
    width: 55px;
    height: 50px;
    
 }

#header ul {
    display: flex;
    font-size: 17px;
}

#header li {
    list-style: none;
    text-align: center;
}

#header li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 40px 16px;  
}

#header li a:hover{
    text-decoration: underline;
}

header img:last-of-type {
    width: 100%;
}

/*main*/
main {
    margin-top: 2%;
    margin-bottom: 2%;
}
main section {
    display: flex; 
    padding-top: 2%;
    padding-bottom: 2%;
}

main section img {
    width: 300px;
    height: 280px;
    margin: auto;
}

main section:nth-of-type(2n+1) {
    flex-direction: row-reverse;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

main section:nth-of-type(2n) {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    text-align: end;
}

main section div {
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    font-size: 36px;
    padding: 15px;
}

span {
    display: inline block;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 18px;
}

.noir {
    background-color: black;
    color: white;
}

.beige {
    background-color: rgb(223, 217, 135);
}

.violet {
    background-color: blueviolet;
}

main section p {
    font-size: 20px;
    padding: 15px;
}

#asteroide {
    position: relative;
    margin: auto;
}

#asteroide p {
    width: 30%;
    margin-left: 40%;
    font-size: 30px;
}

#asteroide::before {
    position: absolute;
    content: "";
    background-color: black;
    height: 2px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 25%;
}

#asteroide::after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: black;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    width: 25%;
}

/*footer*/

footer {
    background-color: black;
    color: white;
    max-width: 100%;
}

footer nav {
    display: flex;
    text-align: center;
    margin: auto;
}

footer nav div:first-of-type {
    padding-left: 15%;
}

footer nav div:last-of-type {
    padding-right: 15%;
}

footer h3:first-of-type {
    padding-left: 15%;
}

footer ul {
    list-style: none;
}

footer li a {
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding-bottom: 10px;
}

footer ul:last-of-type {
    padding-right: 10%;
}

footer .ref hr {
    width: 70%;
}

footer .ref p {
    text-align: center;
}